node_modules/
.DS_Store
.env
.env.*
!.env.example
!.env.local.example
npm-debug.log
*.log
.vscode

dist/
build/
coverage/

.terraform/
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfvars
crash.log
crash.*.log
